<div id="application-{{position_id}}" class="application-box">
    <table class="applicationtable">
        <tr> 
            <td colspan="3"><div class="applicationtitle">{{application.appStudent.firstname}} {{application.appStudent.lastname}} </div></td>
        </tr>
        <tr>
            <td width="100%" class="applicationmessage">
                <p class="applicationinfo">Position id: {{application.position_id}}</p>   
                <br> 
                <p class="applicationinfo">Grade Received: {{application.grade_received}}</p>   
                <br> 
                <p class="applicationinfo">When they took the course: {{application.when_course_taken}}</p>   
                <br> 
                <p class="applicationinfo">When they want to SA the course: {{application.when_SA}}</p>   
                <br> 
                <p class="applicationinfo">Why they want to be an SA: {{application.reasoning}}</p>   
                <br> 
                {% if application.status == 'Pending' %}
                    <p><a class = "button" href = "{{url_for('instructor.approve_applications', position_id = application.position.id)}}">Approve</a></p>   
                    <br> 
                {% else %}
                    <p class="applicationinfo"><b>Already Hired!</b></p>
                {% endif %}
                <p><a class="button" href = "{{url_for('instructor.view_student', student_id=application.appStudent.id)}}">View Student</a></p>
            </td> 
        </tr>
    </table>
</div>
