<table class = "SA Position">
	<tr>
		<td width = "38%" class="positioninfo">{{position.course.get_coursenum()}}-{{position.sectionnum}} {{position.course.title}}</td>
		<td width = "38%" class="positioninfo">Term: {{position.term}}</td>
		<td width = "38%" class="positioninfo">Minimum GPA: {{position.min_GPA}}</td>
		<td width = "38%" class="positioninfo">Minimum Grade: {{position.min_Grade}}</td>
		<td width = 10% class ="positioninfo">Posted at: {{ position.timestamp }}</td>
		<td><a class = "button" href = "{{url_for('instructor.view_applications', position_id = position.id)}}">View Applications</a></td>
	</tr>
</table>
