<li position-id="{{position.id}}"
    position-title="{{position.course.coursenum}}-{{position.sectionnum}} {{position.course.title}}"
    position-instructor-name="{{position.instructor.firstname}} {{position.instructor.lastname}}"
    position-instructor-username="{{position.instructor.username}}"
    position-term="{{position.term}}"
    position-minGPA="{{position.min_GPA}}"
    position-minGrade="{{position.min_Grade}}"
    position-numPos="{{position.open_positions}}"
    position-timestamp="{{position.timestamp}}">

    <div class="position-preview-box">
        <p>
            <h4>{{position.course.coursenum}}-{{position.sectionnum}} {{position.course.title}}</h4>
            <p>Term: {{position.term}}</p>
        </p>
    </div>
</li>