<table class = "SA Position">
	<tr>
        {% set position = section.SA_Position %}
		<td width = "38%" class="positioninfo">{{section.get_course().get_coursenum()}}-{{section.sectionnum}} {{section.get_course().title}}</td>
		<td width = "38%" class="positioninfo">Term: {{section.term}}</td>
		<td width = "38%" class="positioninfo">Minimum GPA: {{position.min_GPA}}</td>
		<td width = "38%" class="positioninfo">Minimum GPA: {{position.min_Grade}}</td>
		<td width = 10% class ="positioninfo">Posted at: {{ position.timestamp }}</td>

		<td><a class = "button" href = "{{url_for('instructor.view_applications')}}">View Applications</a></td>
	</tr>
</table>
