<table class = "applicationtable">
	<tr>
		<td width = "38%" class="positioninfo">Application for {{application.position.get_section().get_course().coursenum}}-{{application.position.get_section().sectionnum}} {{application.position.get_section().get_course().title}}</td>
		<td width = "38%" class="positioninfo">Course Taken: {{application.when_course_taken}}</td>
		<td width = "38%" class="positioninfo">Grade Received: {{application.grade_received}}</td>
		<td width = "38%" class="positioninfo">Term of SA Position: {{application.when_SA}}</td>
		<td width = "38%" class="positioninfo">Reasoning: {{application.reasoning}}</td>
		<td width = "38%" class="positioninfo">Status: {{application.status}}</td>
	</tr>
</table>