<table class="applicationtable">
    <tr> 
        <td colspan="3"><div class="applicationtitle">Application for {{application.position.course.coursenum}}-{{application.position.sectionnum}} {{application.position.course.title}} </div></td>
    </tr>
    <tr>
        <td width="100%" class="applicationmessage">
            <p class="applicationinfo">Position id: {{application.position_id}}</p>   
            <br> 
            <p class="applicationinfo">Grade Received: {{application.grade_received}}</p>   
            <br> 
            <p class="applicationinfo">When you took the course: {{application.when_course_taken}}</p>   
            <br> 
            <p class="applicationinfo">When you wanted to SA the course: {{application.when_SA}}</p>   
            <br> 
            <p class="applicationinfo">Reasoning: {{application.reasoning}}</p>   
            <br> 
            <p class="applicationinfo">Status: {{application.status}}</p>   
            <br> 
        </td> 
    </tr>
</table>