{% extends "base.html" %}
<!-- For iteration2 -->
{% block content %}

<h1>Step 2: Add Experience</h1>

    {% if form %}
        <form action="{{ url_for('student.student_add_course') }}" method="POST">
            {{ form.hidden_tag() }}
            <p>
                {{ form.course.label }}
                {{ form.course() }}
            </p>
            <p>
                {{ form.wasSA.label }}
                {{ form.wasSA() }}
            </p>
            <p>
                {{ form.grade.label }}
                {{ form.grade() }}
            </p>
            <p>
                {{ form.term.label }}
                {{ form.term() }}
            </p>
            <p>
                {{ form.submit() }}
            </p>
        </form>
    {% endif %}

{% endblock %}