{% extends "base.html" %}

{% block content %}
    <h1>Student Assistant Positions</h1>

    {%for position in positions%}
        {%include '_saPositions.html'%}
    {% endfor %}
    </p>
    <p>
    {%if sa_position%}
        <p class = 'positioninfo'>{{sa_position.get_section().get_course().coursenum}}-{{sa_position.get_section().sectionnum}} {{sa_position.get_section().get_course().title}}</p>
        <p class = 'positioninfo'>Instructor: {{sa_position.get_section().instructor.firstname}} {{sa_position.get_section().instructor.lastname}}</p>
        <p class = 'positioninfo'>{{sa_position.get_section().instructor.username}}</p>
        <p class = 'positioninfo'>Term: {{term}}</p>
        <p class = 'positioninfo'>Minimum GPA: {{min_GPA}}</p>
        <p class = 'positioninfo'>Minimum Grade: {{min_Grade}}</p>
        <a class = "button" href = "{{url_for('student.student_apply_position', position_id = sa_position.id)}}">Apply</a>
    {%endif%}
    </p>
{% endblock %}
