{% extends "base.html" %}

{% block content %}

    <h1>Create New Course Section</h1>

    {% if form %}
        <form action="" method="POST">
            {{ form.hidden_tag() }}
            <p>
                {{ form.course.label }}
                {{ form.course() }}
            </p>
            <p>
                {{ form.section.label }}
                {{ form.section() }}
            </p>
            <p>
                {{ form.term.label }}
                {{ form.term() }}
            </p>
            <p>
                {{ form.submit() }}
            </p>
        </form>
    {% endif %}

{% endblock %}