{% extends "base.html" %}

{% block content %}
    <h1>Display Student Profile</h1>
    <div class = "border rounded-3 bg-light p-3">
        <h2> Student username: {{student.get_username()}}</h2>
        <p> <b>Name:</b> {% if student.get_firstname()%} {{student.get_firstname()}} {%endif%}
                        {% if student.get_lastname()%} {{student.get_lastname()}} {%endif%}</p>
        <p> <b>Email:</b> {% if student.get_email()%} {{student.get_email()}} {%endif%}</p>
        <p> <b>phone number:</b> {% if student.get_phone_number()%} {{student.get_phone_number()}}{%endif%}</p>
        <p> <b>Major:</b> {% if student.get_major()%} {{student.get_major()}}{%endif%}</p>
        <p> <b>GPA:</b> {% if student.get_GPA()%} {{student.get_GPA()}}{%endif%}</p>
        <p> <b>Graduation Date:</b> {% if student.get_graduation_date()%} {{student.get_graduation_date()}}{%endif%}</p>
        <hr>
    <hr>

{% endblock %}

