.forminput {
  padding: 2px;
	font-family: 'Segoe UI', Tahoma, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
	font-size: 18px;
  color: #000000;
	width: 50%;
  background-color: #ffffff;
  border: 1px solid black;
}
.formlabel {
  color: black;
}

.button {
    width : auto;
    padding : 3px;    
    font-size: 16px;
    margin : 5px;
    padding : 5px;
    border: 1px solid rgb(0, 0, 0);
    background-color: #ffffff;
}
.button:hover {
    background-color: rgb(138, 211, 236);
    color: rgb(255, 255, 255);
    cursor:pointer;
}

.applicationlist{
  width: 100%;
  background-color: #737777;
  display: flex;
  flex-wrap: wrap;
}

.application-box { 
  background-color: #6c91d6;
  display: flex;
  flex-wrap: wrap;
  vertical-align: middle;
  padding: 25px;
  width: 31%;
  outline: 1px solid black;
  margin: 7px;
}

.applicationtable { 
  width : 100%;
  background-color: rgb(184, 211, 230);
}

.applicationtitle {
    text-align: center;    
    font-size: 18px;
    font-weight: bold;
    font-style: normal;
    margin : 2px 2px 2px 2px; 
    padding: auto;
}

.applicationmessage {
    font-style: normal;
    font-size: 12px;
    padding: 15px 3px 10px 15px;
    background-color: rgb(184, 211, 230);
}

.applicationinfo {
  font-style: normal;
  background-color: #ffffff;
  font-size: 12px;
  padding: 3px 5px 3px 5px;
  margin: 5px 5px 5px 5px; 
  border: 1px solid rgb(0, 0, 0);
  color: black;
}

.positioninfo {
    font-style: normal;
    font-size: 18px;
    padding: 10px 15px 10px 15px;
    margin: 30px; 
    border: 1px solid lightgray;
}

/* Dropdown menu styling */
.dropdown {
    position: relative;
    color: rgb(255, 255, 255);
    display: inline-block;
    border: 2px solid rgb(0, 0, 0);
    padding: 5px;
}

.dropdown-content {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    background-color: #ffffff;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    min-width: 160px;
    border-radius: 4px;
    z-index: 1;
}

.dropdown-content a {
    color: #333;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.navbar-text {
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    color: white;
  }

  .navbar-text .caret {
    margin-left: 0.5em;
    width: 0; 
    height: 0; 
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid currentColor; /* Matches the text color */
    color: white;
  }

  .navbar-text:hover {
    color: #ffffff; /* Change text color to white */
  }

  body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #002353;
  }

  .column-divider {
    display: flex;
  }
  
  .left-column {
    flex: 1;
    padding: 10px;
  }
  
  .left-column ul {
    list-style: none;
    padding: 0;
  }
  
  .left-column li {
    padding: 10px;
    margin: 5px 0;
    background: #ddd;
    cursor: pointer;
    border-radius: 5px;
    transition: background 0.3s;
  }
  
  .left-column li:hover {
    background: #bbb;
  }
  
  .right-column {
    flex: 2;
    padding: 20px;
    background-color: #6c91d6;
    margin: 14px 15px 40px 0px;
    height: 50%;
  }
  
  .card {
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 10px;
    background-color: #fafafa;
  }
  
  .card h2 {
    margin-top: 0;
  }

  /* .position-preview-box {
    padding: 5px;
    background: #f4f4f4;
    border-width: 5px;
    border-radius: 5px;
    border-color: #525252;
    border-style: solid;
  } */

  .apply-button {
    width : auto;
    padding : 3px;    
    font-size: 16px;
    margin : 5px;
    padding : 5px;
    border: 1px solid rgb(0, 0, 0);
    background-color: #ffffff;
  }

  .apply-button:hover {
    background-color: rgb(138, 211, 236);
    color: rgb(255, 255, 255);
    cursor:pointer;
  }

  .container {
    background-color: #737777; 
}

.navbar-brand {
  color: rgb(255, 255, 255);
  border: 2px solid rgb(0, 0, 0);
  padding: 5px;
}

.nav-link {
  color: rgb(255, 255, 255);
  border: 2px solid rgb(0, 0, 0);
  padding: 5px;
}

.nav-link:hover {
  color: #7194d1;
}

.header {
  color: black;
  text-decoration: underline;
}

.nav-item{
  margin: 0px 8px 0px 8px;
}

.edit-box { 
  background-color: #6c91d6;
  padding: 25px;
  width: 80%;
  outline: 1px solid black;
  margin: 15px 0px 30px 30px;
}