{% block content %}
    <h1>Register</h1>
    <form action = "{{url_for('auth.student_register')}}" method = "POST">
        {{ form.hidden_tag()}}
        <p>
            {{form.username.label}}<br>
            {{form.username(class = 'forminput')}}<br>
            {% for error in form.username.errors %}
                <span style = "color: red;">[{{ error}}]</span>
            {% endfor %}
        </p>
        <p>
            {{form.firstname.label}}<br>
            {{form.firstname(class = 'forminput')}}<br>
            {% for error in form.firstname.errors %}
                <span style = "color: red;">[{{ error}}]</span>
            {% endfor %}
        </p>
        <p>
            {{form.lastname.label}}<br>
            {{form.lastname(class = 'forminput')}}<br>
            {% for error in form.lastname.errors %}
                <span style = "color: red;">[{{ error}}]</span>
            {% endfor %}
        </p>
        <p>
            {{form.email.label}}<br>
            {{form.email(class = 'forminput')}}<br>
            {% for error in form.email.errors %}
                <span style = "color: red;">[{{ error}}]</span>
            {% endfor %}
        </p>
        <p>
            {{form.WPI_id.label}}<br>
            {{form.WPI_id(class = 'forminput')}}<br>
            {% for error in form.WPI_id.errors %}
                <span style = "color: red;">[{{ error}}]</span>
            {% endfor %}
        </p>
        <p>
            {{form.phonenumber.label}}<br>
            {{form.phonenumber(class = 'forminput')}}<br>
            {% for error in form.phonenumber.errors %}
                <span style = "color: red;">[{{ error}}]</span>
            {% endfor %}
        </p>
        <p>
            {{form.major.label}}<br>
            {{form.major(class = 'forminput')}}<br>
            {% for error in form.major.errors %}
                <span style = "color: red;">[{{ error}}]</span>
            {% endfor %}
        </p>
        <p>
            {{form.gpa.label}}<br>
            {{form.gpa(class = 'forminput')}}<br>
            {% for error in form.gpa.errors %}
                <span style = "color: red;">[{{ error}}]</span>
            {% endfor %}
        </p>
        <p>
            {{form.graduation_date.label}}<br>
            {{form.graduation_date(class = 'forminput')}}<br>
            {% for error in form.graduation_date.errors %}
                <span style = "color: red;">[{{ error}}]</span>
            {% endfor %}
        </p>

        <p>
            {{form.password.label}}<br>
            {{form.password(class = 'forminput')}}<br>
            {% for error in form.password.errors %}
                <span style = "color: red;">[{{ error}}]</span>
            {% endfor %}
        </p>
        <p>
            {{form.password2.label}}<br>
            {{form.password2(class = 'forminput')}}<br>
            {% for error in form.password2.errors %}
                <span style = "color: red;">[{{ error}}]</span>
            {% endfor %}
        </p>
        <p>{{form.submit(class="registerbutton")}}</p>
    </form>